/*css style file*/

/*center text*/
.center {
    text-align: center;
}

/*make cursor hand when you can click on it*/
.pointer {
    cursor: pointer;
}

.question {
    border-style: solid;
    border-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* style of button*/
.button {
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-color: black;
    width : 50%;
    margin: 4px 2px;
    background-color: #F0FFFF;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: "Times New Roman", Times, serif;
    /*color: black;*/
    font-weight: bold;
    font-size: x-large;
}

.button:active {
    background-color: black;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    box-shadow: 0 5px #666;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: x-large;
}

.button:hover {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    text-align: center;
    display: inline-block;
    width : 50%;
    margin: 4px 2px;
    background-color: #FF8C00;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: x-large;
}

/* background */
body {
    margin: 0;
    padding: 0;
    animation: bgcolor infinite 20s;
}

#homepage, #categories {
   margin: 0;
   padding: 0;
   font-family: serif;
   font-size: 5em;
   color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}
@keyframes bgcolor {
    0%
    {
        background: #12CBC4;
    }
    10%
    {
        background: #9980FA;
    }
    30%
    {
        background: #EA2027;
    }
    50%
    {
        background: #00cec9;
    }
    70%
    {
        background: #6F1E51;
    }
    90%
    {
        background: #FFC312;
    }
    100%
    {
        background: #12CBC4;
    }
}


/* text decoration page titles*/
.funtext {
  text-shadow: 3px 2px #FF8C00;
  text-align: center;
}

/* font of the game*/
.serif {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

/* make text bold*/
.thick {
  font-weight: bold; text-align: center;
}

/* style of the box in the game*/
.box {
    text-align: center;
}

.box select {
    text-align: center;
    background: #FF8C00;
    color: black;
    padding: 10px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    border-style: solid;
    border-color: black;
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}

.box2 {
    text-align: center;
    border-color: black;
    border-style: solid;
    padding: 25px;
    font-family: serif;
    font-size: 25px;
    font-weight: bold;
}

.box2 select {
    background: #FF8C00;
    color: black;
    padding: 10px;
    width: 250px;
    height: 50px;
    border: none;
    font-family: serif;
    font-size: 50px;
    font-weight: bold;
}

/* put text to the center of the page*/
.middle {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* style of other button in the game*/
.button2 {
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-color: black;
    text-align: center;
    width : 80%;
    margin: 10px 2px;
    background-color: #87CEFA;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-weight: bold;
    font-size: x-large;
}

.button2:active {
    background-color: black;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: x-large;
}

.button2:hover {
    display: inline-block;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    text-align: center;
    margin: 4px 2px;
    background-color: #00BFFF;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: x-large;
}

/* class for bootstrap, make text fit in mobile screen*/
/*.container {*/
/*    flex-direction: column;*/
/*    width: auto;*/
/*    overflow-x: auto;*/
/*    text-align: center;*/
/*}*/

main .form-control
{
    display: inline-block;
    width: auto;
}

main
{
    overflow-x: auto;
    text-align: center;
}

/*style of other button in game*/
.button3 {
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-color: black;
    text-align: center;
    width : 20%;
    margin: 4px 2px;
    background-color: #FFDEAD;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-weight: bold;
    font-size: x-large;
}

.button3:active {
    background-color: black;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: x-large;
}

.button3:hover {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    text-align: center;
    display: inline-block;
    width : 25%;
    margin: 4px 2px;
    background-color: #FA8072;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: x-large;
}

serif {
  font-family: "Times New Roman", Times, serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  animation: bgcolor infinite 20s;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  /*padding: 20px 0;*/
  font-size: 30px;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}