/*css style file*/

.center {
    text-align: center;
}

.question {
    border-style: solid;
    border-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button {
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width : 50%;
    margin: 4px 2px;
    outline: none;
    background-color: #F0FFFF;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-weight: bold;
    font-size: x-large;
}

.button:active {
    background-color: black;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: x-large;
}

.button:hover {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width : 50%;
    margin: 4px 2px;
    background-color: #FF8C00;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: x-large;
}

.hidden {
    display: none;
}

#firstname {
  background-color: yellow;
}

body {
    margin: 0;
    padding: 0;
    animation: bgcolor infinite 20s;
    background-image: url(achtergrond.png);
}

#homepage, #categories {
   margin: 0;
   padding: 0;
   font-family: serif;
   font-size: 5em;
   color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}
@keyframes bgcolor {
    0%
    {
        background: #12CBC4;
    }
    10%
    {
        background: #9980FA;
    }
    30%
    {
        background: #EA2027;
    }
    50%
    {
        background: #00cec9;
    }
    70%
    {
        background: #6F1E51;
    }
    90%
    {
        background: #FFC312;
    }
    100%
    {
        background: #12CBC4;
    }
}


/*div {*/
/*    height: 200px;*/
/*    width: 400px;*/

/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    margin-top: -100px;*/
/*    margin-left: -200px;*/
/*}*/

h1 {
  text-shadow: 3px 2px #FF8C00;
}

serif {
    font-family: "Times New Roman", Times, serif;
}

.thick {
  font-weight: bold; text-align: center;
}

.box {
    text-align: center;
}

.box select {
    background: #FF8C00;
    color: black;
    padding: 10px;
    width: 250px;
    height: 50px;
    border: none;
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
}

.midden {
    position: absolute;
    width: 250px;
    height: 50px;
    top: 30%;
    left: 45%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px;
}

/*.button2 {*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*    border-style: solid;*/
/*    border-color: black;*/
/*    padding: 15px 32px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    width : 50%;*/
/*    margin: 4px 2px;*/
/*    outline: none;*/
/*    background-color: #F0FFFF;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
/*    font-family: "Times New Roman", Times, serif;*/
/*    color: black;*/
/*    font-weight: bold;*/
/*    font-size: x-large;*/
/*    position: absolute;*/
/*    top: 10%;*/
/*}*/

/*.button2:active {*/
/*    background-color: black;*/
/*    border-radius: 10px;*/
/*    border-style: solid;*/
/*    border-color: black;*/
/*    box-shadow: 0 5px #666;*/
/*    transform: translateY(4px);*/
/*    font-family: "Times New Roman", Times, serif;*/
/*    font-weight: bold;*/
/*    font-size: x-large;*/
/*}*/

/*.button2:hover {*/
/*    border-radius: 10px;*/
/*    border-style: solid;*/
/*    border-color: black;*/
/*    padding: 15px 32px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    width : 50%;*/
/*    margin: 4px 2px;*/
/*    background-color: #FF8C00;*/
/*    font-family: "Times New Roman", Times, serif;*/
/*    font-weight: bold;*/
/*    font-size: x-large;*/
/*}*/

.wrapper {
    text-align: center;
}
