 <!--make sure game works on mobile phone-->
{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
<!--define html page-->
<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Categories</title>
        <link href="/templates/layout.html" rel="layout">
    </head>
    <body>
        <h1 class="funtext" class="thick" >Categories</h1><br>
        <h2 class="thick" >Choose the category you want to play:</h2> <!-- Juiste categorieën toevoegen-->
      <!--list of different cateogries-->
      <form style="text-align:center" action="/categories" method="post">
        <div class="box">
          <select name="Categories">
            <option value="general">General</option>
            <option value="art">Art</option>
            <option value="sports">Sports</option>
            <option value="history">History</option>
            <option value="geography">Geography</option>
            <option value="science_nature">Science & Nature</option>
          </select>
        </div>

  <br>
  <h2 class="thick" >Choose the difficulty:</h2>
  <!--list of difficulties-->
  <form style="text-align:center" action="/categories" method="post">
    <form action="/categories" method="post">
        <div class="box">
          <select name="Difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
          </select>
        </div>

      <br><br><br>
      <!--button to submit choice-->
      <div class="box">
      <button class="button" type="submit">Next!</button>
      </div>
  </form>
  <br><br>
  </body>
{% endblock %}