<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Categories</title>

    </head>
    <body>

        <h1 class="thick" >Categories</h1><br>
        <h2 class="thick" >Choose the category you want to play:</h2> <!-- Juiste categorieën toevoegen-->


      <form style="text-align:center" action="/categories" method="post">
        <div class="custom-select" style="width:200px;">
          <select name="Categories">
            <option value="general">General</option>
            <option value="art">Art</option>
            <option value="sports">Sports</option>
            <option value="history">History</option>
            <option value="geography">Geography</option>
            <option value="science_nature">Science & Nature</option>
        </div>

  </select>
  <br>
  <h2 class="thick" >Choose the difficulty:</h2>

    <form action="/categories" method="post">
      <select name="Difficulty">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
      <br><br><br>
      <button class="button" type="submit">Next!</button>

</form>
<br><br>
