<!DOCTYPE html>

<html lang="en">
    <head>

        <title>Categories</title>

    </head>
    <body>

        <h1>Categories</h1><br>
        <p>Choose the category you want to play</p> <!-- Juiste categorieën toevoegen-->
<br>
<p>Choose the difficulty</p>

<form action="/action_page.php">
  <select name="Difficulty">
    <option value="easy">Easy</option>
    <option value="medium">Medium</option>
    <option value="hard">Hard</option>
  </select>
  <br><br>
  <input type="submit">
</form>
<br>
<p>Choose the game mode</p>