 <!--make sure game works on mobile phone-->
{% extends "layout.html" %}
{% block title %}Question{% endblock%}

{% block main %}
<div class="container">
    <div class="row justify-content-center align-items-center d-flex" style="height: 100vh">
        <div class="col-12 col-md-9 my-auto">
            <!--enter username and put it in the database-->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    		<script>
                function getquestions() {

            		$.ajax({
            			data : {
            				username : $('#username').val(),
            			},
            			type : 'GET',
            			url : '/classic_question'
            		})
                };
            </script>
            <div class="middle">
                <form onsubmit="getquestions()" action="/classicgame" method="post">
                    <div class="form-group">
                        <input autocomplete="off" class="box2" autofocus class="form-control" name="username" placeholder="Username" type="text" id="username" maxlength="15" required>
                    </div>
                    <br>
                    <button class="button2" type="submit">Start Game</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}