<!--define html page-->
<html>
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Custom Mode</title>

        <!--enter username and put it in the database-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
            function getquestions() {

        		$.ajax({
        			data : {
        				username : $('#username').val(),
        				amount : $('#amount').val(),
        			},
        			type : 'GET',
        			url : '/customgamequestions'
        		})
            };
        </script>
    </head>
    <body>
        <div class="middle">
         <form onsubmit="getquestions()" action="/customgame" method="post">
        <div class="form-group">
            <input autocomplete="off" size="20" class="box2" autofocus class="form-control" name="username"
                placeholder="Username" type="text" id="username" maxlength="15"required>
            <br><br>
            <input autocomplete="off" size="20" class="box2" autofocus class="form-control" name="amount"
                placeholder="Amount of Questions" type="text" id="amount" maxlength="2">
        </div>
        <button class="button2" type="submit">Start Game</button>
        </div>
    </form>

    </body>
</html>
