 <!--make sure game works on mobile phone-->
{% extends "layout.html" %}
{% block title %}Custom Mode{% endblock%}

{% block main %}
<div class="container">
    <div class="row justify-content-center align-items-center d-flex" style="height: 100vh">
        <div class="col-12 col-md-9 my-auto">
            <!--enter username and put it in the database-->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    		<script>
                function getquestions() {

            		$.ajax({
            			data : {
            				username : $('#username').val(),
            				amount : $('#amount').val(),
            			},
            			type : 'GET',
            			url : '/customgamequestions'
            		})
                };
            </script>
            <div class="middle">
                <form onsubmit="getquestions()" action="/customgame" method="post">
                    <div class="form-group">
                        <input autocomplete="off" size="20" class="box2" autofocus class="form-control" name="username"
                        placeholder="Username" type="text" id="username" maxlength="15" required>
                        <br><br>
                        <input autocomplete="off" size="20" class="box2" class="form-control" name="amount"
                        placeholder="Amount of Questions" type="text" id="amount" maxlength="2">
                    </div>
                    <br>
                    <button class="button2" type="submit">Start Game</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}