{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
<html lang="en">
<div class="container">
    <head>
        <title class="center">Super Trivia</title>
        <link href="static/styles.css" rel="stylesheet">

    </head>
    <full2>
        <body>
            <div class="midden">
              <h1 class="text-center", "serif">Super Trivia</h1>
              <h3 style="text-align:center", "serif">Explain game</h3>
            </div>
        </body>
    </full2>
</div>
{% endblock %}