{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
<html lang="en">
<div class="container">
    <head>
        <title class="center">Super Trivia</title>
        <link href="static/styles.css" rel="stylesheet">

    </head>
    <full2>
        <body>
            <div class="middle">
              <h1 class="text-center", "serif">Super Trivia explained</h1>
              <h3 style="text-align:center", "serif">Welcome to Super Trivia! The goal of this game is to test your knowledge or compete
              with your friends. You start the game with a choice of categories. You have six different themes and three levels of
              difficulty to choose from. After that, you can choose your username.</h3>
              <h4 style="text-align:center", "serif">Singleplayer: once you have entered your username, you can start the game right away. No need to wait for your friends.
              You will receive ten questions. For every correct answer you will receive a point. The user with the most points at the end of the game
              will take place in our highscore overview. Can you make it in there? </h4>
              <h4 style="text-align:center", "serif">Multiplayer: inhfbuiklebfoew fweiubfuilubf  </h4>
              <h4 style="text-align:center", "serif"> <a href="homepage"><u style="color: black"> Back to homepage</u></a></h4>
            </div>
        </body>
    </full2>
</div>
{% endblock %}