 <!--make sure game works on mobile phone-->
{% extends "layout.html" %}
{% block main %}
<!--define html page-->
<html>
    <head>
        <title>High scores</title>
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="center">
            <h1 class="funtext" >High scores</h1>
        </div>
        <h2 class="thick" class="serif">{{ highscoretext }}<br>
         Your score is: {{ score }}!</h2>


{% for scores in highscoredata %}

        <h2 class="serif" class="center">{{ scores.username }} : {{ scores.score }} : {{ scores.category }}<br></h2>


{% endfor %}

        <div class="box">
        <button class="button2" onclick="window.location.href = '/';">Return to homepage!</button>
        </div>
    </body>
</html>
{% endblock %}