<!--start pagina die de user ziet als ze de website op komen-->

<!DOCTYPE html>

<html lang="en">

    <head>
        <div class='fullscreenDiv'>
        <title class="center">Super Trivia</title>
        </div>
        <link href="static/styles.css" rel="stylesheet">
        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--Voor mobile phone-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>
    <full2>
        <body>
                <div class="midden">
                  <h1 class="text-center", "serif">Super Trivia</h1>
                  <h3 style="text-align:center", "serif">Klik <a href="categories"><u> hier</u></a> om het spel te starten</h3>
                </div>
        </body>
    </full2>