 <!--make sure game works on mobile phone-->
{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
<!--define html page-->
<html lang="en">
<div class="container">
    <head>
        <title class="center">Super Trivia</title>
        <link href="static/styles.css" rel="stylesheet">

    </head>
    <full2>
        <body>
            <!--homepage of the game with link to gamerules en categories-->
            <div class="middle">
              <h1 class="funtext" class="text-center", "serif">Super Trivia</h1>
              <h3 style="text-align:center", "serif">Click <a href="categories"><u style="color: black"> here</u></a> to start the game</h3>
              <h4 style="text-align:center", "serif">Click <a href="gamerules"><u style="color: black"> here</u></a> for the gamerules</h4>
            </div>
        </body>
    </full2>
</div>
{% endblock %}