<!DOCTYPE html>
<html>
<body>

<!--<button onclick="myFunction()">Try it</button>-->
{% for test in data %}
	<br>{{ test['username'] }}
{% endfor %}

<p id=output>0</p>

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
      setTimeout(function(){

		// $.ajax({
		// 	type:"GET",
		// 	url:"/lobby/",
		// 	data: {},
		// 	dataType: json,
		// })
    	// .done(function(data) {
    	//     console.log(data)
        // document.getElementById("output").innerHTML = data;

    		// });
		location.reload();
      }, 3000);
  });
</script>


</body>
</html>