<!--<html>-->
<!--    <head>-->
<!--        <link href="/static/styles.css" rel="stylesheet">-->
<!--    </head>-->
<!--    <body>-->
<!--        <a id="button" href="#">Show/Hide</a>-->
<!--        <div id="item">Item</div>-->
<!--    </body>-->
<!--    <script src="http://code.jquery.com/jquery-1.10.1.min.js">-->
<!--    $(function() {-->
<!--        $( "#button" ).click(function() {-->
<!--            $( "#item" ).toggle();-->
<!--        });-->
<!--    });-->
<!--    </script>-->
<!--</html>-->

<!DOCTYPE html>
<html>
<head>
    <link href="/static/styles.css" rel="stylesheet">-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}
</style>
</head>
<body>

<p>Click the "Try it" button to toggle between hiding and showing the DIV element:</p>

<!--<button onclick="myFunction()">Try it</button>-->

<div id="myDIV" style="display: none;">
    {% for number in data %}
        <p>{{ number }}</p>
    {% endfor %}

This is my DIV element. {{ list }}
</div>

<!--{% for question in data %}-->
<!--        <div id=myDIV>-->
<!--            <p class=question>{{ question }}</p>-->
<!--            <p class=question>{{ question['question'] }}</p>-->
<!--            <br>-->
<!--             <br><button class=button id=0 type="button">{{ question['all_answers'][0] }}</button><br>-->
<!--             <br><button class=button id=1 type="button">{{ question['all_answers'][1] }}</button><br>-->
<!--             <br><button class=button id=2 type="button">{{ question['all_answers'][2] }}</button><br>-->
<!--             <br><button class=button id=3 type="button">{{ question['all_answers'][3] }}</button><br>-->
<!--        </div>-->
<!--{% endfor %}-->


    <div>
        <p class=question>{{ data[0] }}</p>
        <p class=question>{{ data[0]['question'] }}</p>
        <br>
         <br><button onClick="myFunction('{{ data[0][all_answers] }}, {{ data[0][correct_answer] }}, 0')" class=button id=0 type="button">{{ data[0]['all_answers'][0] }}</button><br>
         <br><button onClick="myFunction('{{ data[0][all_answers] }}, {{ data[0][correct_answer] }}, 1')" class=button id=1 type="button">{{ data[0]['all_answers'][1] }}</button><br>
         <br><button onClick="myFunction('{{ data[0][all_answers] }}, {{ data[0][correct_answer] }}, 2')" class=button id=2 type="button">{{ data[0]['all_answers'][2] }}</button><br>
         <br><button onClick="myFunction('{{ data[0][all_answers] }}, {{ data[0][correct_answer] }}, 3')" class=button id=3 type="button">{{ data[0]['all_answers'][3] }}</button><br>
    </div>





</body>
</html>


<script type="text/javascript">
  function myFunction(answer, correct, id) {
      if (answer[id] == correct) {
        document.getElementById(id).style.background = "lime";
        setTimeout(function(){
        location.reload();
        }, 1000);
      } else {
          document.getElementById(id).style.background = "OrangeRed";
          setTimeout(function(){ location.reload(); }, 1000);
      }
      };
</script>