<html>
    <body>
        {{ question }}
        <br>

         <br><button onClick="myFunction('{{ answers[0] }}', 0)" id=0 type="button">{{ answers[0] }}</button><br>
         <br><button onClick="myFunction('{{ answers[1] }}', 1)" id=1 type="button">{{ answers[1] }}</button><br>
         <br><button onClick="myFunction('{{ answers[2] }}', 2)" id=2 type="button">{{ answers[2] }}</button><br>
         <br><button onClick="myFunction('{{ answers[3] }}', 3)" id=3 type="button">{{ answers[3] }}</button><br>

     </body>
</html>

<script type="text/javascript">
  function myFunction(answer, id) {
      var correct = '{{ correct_answer }}'
      if (answer == correct) {
        //   kleurtje dat het goed is of zo
        document.getElementById(id).style.background = "lime";
        setTimeout(function(){
        location.reload();
        }, 1000);
      } else {
           document.getElementById(id).style.background = "OrangeRed";
          setTimeout(function(){ location.reload(); }, 1000);

      }
  }
</script>