<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Categories</title>
        <link href="/templates/layout.html" rel="layout">
    </head>
    <body onload="timer()">

        <div id="safeTimer">
        <h2>Safe Timer</h2>
        <p id="safeTimerDisplay">{{ remaining }}</p>
        </div>
        <br>
        <br>
        <p align="center"><h2 class="center", "serif">test</h2></p>

        <br><br><br><br>

        <div class="grid-container">
          <div onClick="myFunction(1)" class=answer id=0 type="button">test</div>
          <div onClick="myFunction(1)" class=answer id=1 type="button">test</div>
          <div onClick="myFunction(1)" class=answer id=2 type="button">test</div>
          <div onClick="myFunction(1)" class=answer id=3 type="button">test</div>
        </div>

        <p><h2 class="serif">Correct answers: <a id="correctly">{{ answered }}</a></h2></p>

<script>
    function myFunction() {
        console.log(document.getElementById('safeTimerDisplay').innerHTML)
    }
</script>


<script>
    function timer(){
    var sec = '{{ remaining }}';
    var timer = setInterval(function(){
        document.getElementById('safeTimerDisplay').innerHTML=sec;
        sec--;
        if (sec < 0) {
            clearInterval(timer);
            window.location.replace("/");
        }
    }, 1000);
}
</script>



</body>