 <!--make sure game works on mobile phone-->
{% extends "layout.html" %}
{% block main %}
<!--define html page-->
<html lang="en">
    <head>
        <title>Game Mode</title>
        <link href="/static/styles.css" rel="stylesheet">
        <link href="/templates/layout.html" rel="layout">
    </head>
    <body>
        <h1 class="funtext" class="thick" >Game Mode</h1><br>
        <h2 class="thick" >Select the Game Mode You Want to Play:</h2>
        <div class="container">
        <div class="middle">
            <!--choose game type-->
            <button onclick="window.location.href = 'singleplayer';" type="button" class="button2">Classic Mode</button>
            <br><br>
            <button onclick="window.location.href = 'customgame';" type="button" class="button2">Custom Mode</button>
            <br><br>
            <button onclick="window.location.href = 'categories';" type="button" class="button2">Back to Categories</button>
        </div>
        </div>
    </body>
</html>
{% endblock %}