<html>
    <head>
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <button onclick="window.location.href = 'singleplayer';" class=start-button type="button">Singleplayer</button>
        <br><br>
        <button onclick="window.location.href = 'createmp';" class=start-button type="button">Create Multiplayer Game</button>
        <br><br>
        <button onclick="window.location.href = 'joinmp';" class=start-button type="button">Join Multiplayer Game</button>

        <!--<button onclick="window.location.href = 'question';" class=start-button type="button">Join Multiplayer Game</button>-->
    </body>
</html>